/* Styles go here */

body {
	padding-top: 70px;
}

.topbar {
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background: orange;
	position: fixed;
	top: 0;
	width: 100%;
	border-radius: 0;
}

.topbar .col-xs-2 {
	padding: 5px;
}

.topbar .btn {
	background: transparent;
	text-decoration: none;
	color: inherit;
}

a {
	color: orange;
}

.pLeft {
	padding-left: 1em;
}
.pRight {
	padding-right: 1em;
}
.pTop {
	padding-top: 1em;
}
.pBottom {
	padding-bottom: 1em;
}
.pX {
	padding-left: 1em;
	padding-right: 1em;
}
.pY {
	padding-top: 1em;
	padding-bottom: 1em;
}
.pAll {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.pLeft0 {
	padding-left: 0;
}
.pRight0 {
	padding-right: 0;
}
.pTop0 {
	padding-top: 0;
}
.pBottom0 {
	padding-bottom: 0;
}
.pX0 {
	padding-left: 0;
	padding-right: 0;
}
.pY0 {
	padding-top: 0;
	padding-bottom: 0;
}
.pAll0 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}