<nav class="navbar navbar-fixed-top topbar p0">
 	<div class="collapse" id="exCollapsingNavbar">
		<div class="bg-inverse p-a-1">

	    	<div ng-controller="topBarController" class="panel">
				<a href="#/group/pick" class="btn btn-secondary"> <i class="fa fa-group"></i> Groups </a>
				<hr>
				<button class="btn btn-primary" ng-click="logOut()" ng-show="auth">
					<i class="fa fa-sign-out"></i> Log out
				</button>
	    	</div>

		</div>
	</div>
	<div class='col-xs-2' ng-hide="page.leftBtn">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>
	</div>
	<div class='col-xs-2' ng-show="page.leftBtn">
		<a onclick="window.history.back();" class='btn' ng-show="page.leftBtn == 'prev'">
			<i class="fa fa-chevron-left"></i>
		</a>
		<a ng-href='#/{{ page.leftBtn.href }}' class='btn' ng-hide="page.leftBtn == 'prev'">
			<i class='fa fa-{{ page.leftBtn.fa}}'></i>
		</a>
	</div>
	<p class='col-xs-8'>
		{{ page.title }}
	</p>
	<div class='col-xs-2'>
		<a ng-href='#/{{ page.rightBtn.href }}' class='btn' ng-hide="page.rightBtn == 'submit'">
			<i class='fa fa-{{ page.rightBtn.fa}}'></i>
		</a>
		<button type="submit" class='btn' ng-show="page.rightBtn == 'submit'">
			<i class='fa fa-check'></i>
		</button>
	</div>
</nav>