<form ng-submit="addSong()">

    <top-bar></top-bar>

    <p class="panel">
        <label for="name">Title</label>
        <input type="text" name="name" ng-model="song.name" class="form-control" placeholder="Song title" />
    </p>
    <p class="panel">
        <label for="text">Artist</label>
        <input type="text" name="artist" ng-model="song.artist" class="form-control" placeholder="Artist (optional)" />
    </p>
    <p class="panel">
        <label for="notes">Notes</label>
        <textarea name="notes" ng-model="song.notes" class="form-control" placeholder="Notes (optional)"></textarea>
    </p>
    <p class="panel">
        <label for="lyrics">Lyrics</label>
        <textarea name="lyrics" ng-model="song.lyrics" class="form-control" placeholder="Lyrics (optional)"></textarea>
    </p>

</form>