<top-bar></top-bar>

<ul class="list-group">
	<li class="list-group-item lead">
        <div class="row">
        	<div class="col-xs-8">
		        <a href="#/events/" title="See all events" class="btn pLeft0">
		        	Upcoming events <i class="fa fa-chevron-right pLeft"></i>
		        </a>
        	</div>
        	<div class="col-xs-4 pRight0">
		        <a href="#/events/add" class="btn btn-primary btn-sm" title="Add an event">
		            <i class="fa fa-plus"></i> Add
		        </a>
        	</div>
        </div>
    </li>
    <li class="list-group-item" ng-repeat="(key, event) in group.events">
		<a href="#/events/{{ key }}">            
	        <p class="h6">{{ event.title }}</p>
		</a>
        <time><small>{{ event.date | date }}</small></time>
    </li>
</ul>